<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.deng.message.mapper.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.deng.message.entity.Message" >
    <id column="ID" property="id" jdbcType="CHAR" />
    <result column="FLOOR" property="floor" jdbcType="INTEGER" />
    <result column="ARTICLE_ID" property="articleId" jdbcType="CHAR" />
    <result column="UPDATED_TIME" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="UPDATED_USER" property="updatedUser" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.deng.message.entity.Message" extends="BaseResultMap" >
    <result column="CONTENT" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, FLOOR, ARTICLE_ID, UPDATED_TIME, UPDATED_USER
  </sql>
  <sql id="Blob_Column_List" >
    CONTENT
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from message
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from message
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.deng.message.entity.Message" >
    insert into message (ID, FLOOR, ARTICLE_ID, 
      UPDATED_TIME, UPDATED_USER, CONTENT
      )
    values (#{id,jdbcType=CHAR}, #{floor,jdbcType=INTEGER}, #{articleId,jdbcType=CHAR}, 
      #{updatedTime,jdbcType=TIMESTAMP}, #{updatedUser,jdbcType=CHAR}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.deng.message.entity.Message" >
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="floor != null" >
        FLOOR,
      </if>
      <if test="articleId != null" >
        ARTICLE_ID,
      </if>
      <if test="updatedTime != null" >
        UPDATED_TIME,
      </if>
      <if test="updatedUser != null" >
        UPDATED_USER,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="floor != null" >
        #{floor,jdbcType=INTEGER},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=CHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUser != null" >
        #{updatedUser,jdbcType=CHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.deng.message.entity.Message" >
    update message
    <set >
      <if test="floor != null" >
        FLOOR = #{floor,jdbcType=INTEGER},
      </if>
      <if test="articleId != null" >
        ARTICLE_ID = #{articleId,jdbcType=CHAR},
      </if>
      <if test="updatedTime != null" >
        UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUser != null" >
        UPDATED_USER = #{updatedUser,jdbcType=CHAR},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.deng.message.entity.Message" >
    update message
    set FLOOR = #{floor,jdbcType=INTEGER},
      ARTICLE_ID = #{articleId,jdbcType=CHAR},
      UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      UPDATED_USER = #{updatedUser,jdbcType=CHAR},
      CONTENT = #{content,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.deng.message.entity.Message" >
    update message
    set FLOOR = #{floor,jdbcType=INTEGER},
      ARTICLE_ID = #{articleId,jdbcType=CHAR},
      UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      UPDATED_USER = #{updatedUser,jdbcType=CHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>