<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
</head>
<body>
<!--header-->
<div id="app">
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">后台管理</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="javascript:void(0)" @click="showUserIndex()">用户管理</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">栏目管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)" @click="showCategoryIndex()">分类首页</a></li>
                        <li><a href="category_add.html">提交分类</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">内容管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)" @click="showContentIndex()">内容首页</a></li>
                        <!--<li><a href="content.html">内容首页</a></li>-->
                        <li><a href="content_add.html">添加内容</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Oliver<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../index.html">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="jumbotron">
        <h1>Hello, admin!</h1>
        <p>欢迎进入博客后台管理</p>
    </div>
</div>

    <!-- 内容管理/分类首页 start-->
    <div class="content-admin" v-if="isInContentAdmin || isInCategoryAdmin || isInUserAdmin">
        <!--<ol class="breadcrumb container">-->
            <!--<li><a href="index.html">管理首页</a></li>-->
            <!--<li><span>内容管理</span></li>-->
            <!--<li><span>内容首页</span></li>-->
        <!--</ol>-->
        <h3 class="container">{{title}}</h3>
        <table class="table table-hover container">
            <tr>
               <td v-for="td in tableTd">{{td}}</td>
            </tr>
            <!-- 如果是内容首页 -->
            <tr v-for="item in contentList" v-if="isInContentAdmin">
                <td>{{item.id}}</td>
                <td>{{item.categoryName}}</td>
                <td>{{item.title}}</td>
                <td>{{item.updatedUser}}</td>
                <td>{{item.updatedTime}}</td>
                <td>{{item.readNumber}}</td>
                <td>
                    <a href="#">删除</a>
                </td>
            </tr>
            <!-- 如果是分类首页 -->
            <tr v-for="item in contentList" v-if="isInCategoryAdmin">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>
                    <a href="#">删除</a>
                </td>
            </tr>
            <!-- 如果是用户首页 -->
            <tr v-for="item in contentList" v-if="isInUserAdmin">
                <td>{{item.id}}</td>
                <td>{{item.username}}</td>
                <td>{{item.profession}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.email}}</td>
                <!--<td>-->
                    <!--<a href="#">删除</a>-->
                <!--</td>-->
            </tr>
        </table>
        <nav aria-label="..." class="container">
            <ul class="pager">
                <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> 上一页</a></li>

                <li>
                    一共有 {{contentList.length}} 条数据，共 1 页，当前第 1 页
                </li>

                <li class="next"><a href="javascript:void(0);">下一页 <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
    </div>
    <!--内容管理 end-->

</div>
<script src="js/vue.js"></script>
<script src="js/vue-resource.js"></script>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/admin.js"></script>
</body>
</html>